
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Generate Token</h3>
            <h4 class="page-title">Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit. Quisque nec venenatis est. Aliquam scelerisque bibendum volutpat. Donec vehicula tincidunt arcu, nec pellentesque neque dignissim eu. Duis a pretium sapien. Suspendisse efficitur eu metus ultrices suscipit. Mauris eget nulla a urna fermentum vulputate. Fusce ac leo rhoncus, convallis sem vel, blandit velit. Vestibulum pharetra dapibus nisi fermentum pretium. </h4>
            <div class="row">
                <div class="col-md-7">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Request</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Type</th>
                                        <th>Position</th>
                                        <th>#</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Authorization</td>
                                        <td><code>string</code></td>
                                        <td><code>Header</code></td>
                                        <td><code>Required</code></td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                                    </tr>
                                    <tr>
                                        <td>username</td>
                                        <td><code>string</code></td>
                                        <td><code>Body</code></td>
                                        <td><code>Required</code></td>
                                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec venenatis est. Aliquam scelerisque bibendum volutpat. Donec vehicula tincidunt arcu, nec pellentesque neque dignissim eu. </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
                <div class="col-md-5">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Response</h3>
                        </div>
                        <div class="panel-body">
                            <pre>{
    "status": true,
    "result_code": 200,
    "message": "Success!",
    "values": {
        "name": "Kiddy",
        "email": "kiddydhana@gmail.com",
        "token": "9WUzKE7kCI1vSuQAbrmOwc2m2dk1NbPR",
        "account_status": "1"
    }
}</pre>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->